[user]
	name = Oneek Iftikhar
	email = oneek.iftikhar@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = code --wait
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
